<div class="tours-title">
    <div class="small-title">TRAVEL GUIDES • EXPLORE SANTORINI</div>
    <div class="large-title">Top 10 + 1 Things to Do in Bosnia and Herzegovina</div>
    <div class="title-dsc">Bosnia and Herzegovina has plenty of must-see attractions that you should include 
        in your itinerary if you wish to experience Santorini in a short space of time. Here’s an easy top 10+1 list to get you started.</div>
</div>


<img class="img-lg" src="../../../assets/images/bih-tours-lg.jpg">

<div class="guide">
    <p>Santorini is a magical island known for breathtaking landscapes, stunning sunsets, whitewashed buildings, and blue-domed churches. Not to forget, the red beaches and clear blue waters await to give you an excitement overload!</p>
         <p>Here’s a complete guide to help you plan a fun-filled trip to Santorini. A trip to the island is never complete without exploring the following attractions!</p>

</div>

<div *ngFor="let article of articles" class="guide">
    <div class="single-guide">
        <h3>{{article.title}}</h3>
        <img src="{{ article.imageUrl }}" alt="{{ article.title }}">

        <p>{{article.text1}}</p>
        <p>{{article.text2}}</p>
        <p>{{article.text3}}</p>
    </div>
</div>