<div class="accomodation-img">
    <p>Accomodation</p>
    <div class="accomodation-title">
      Here are the top 6 unique stays in Bosnia and Herzegovina - This beautiful country boasts an array of unique accommodation options that perfectly complement its stunning natural landscapes and rich cultural heritage. From historic castles to cozy mountain lodges, there is something for everyone.
    </div>
</div>  

<div class="locations-container">
  <div *ngFor="let accommodation of accommodations" class="location-item">
    <img src="{{accommodation.image}}">
    <div class="location-dsc">
      <h4>{{accommodation.title}}</h4>
      <p class="dsc">{{accommodation.description}}</p>
      <p>{{accommodation.text}}</p>
    </div>
  </div>   
</div>


<div class="carousel">

  <div class="swiper">
   
    <div class="swiper-wrapper">
    
      <div class="swiper-slide"><img src="../../../assets/images/bih-tours-lg.jpg"></div>
      <div class="swiper-slide"><img src="../../../assets/images/accomodation-lg.jpg"></div>
      <div class="swiper-slide"><img src="../../../assets/images/bih-tours-lg.jpg"></div>
      
    </div>
  
    <div class="swiper-pagination"></div>
  
   
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
  
    <div class="swiper-scrollbar"></div>
  </div>
</div>