<div class="navbar-container">

  <div class="menu-wrapper">
    <!-- Hamburger menu -->
    <div class="menu">
      <mat-icon (click)="toggleBtn()" class="icon">{{ showMenu ? 'close' : 'menu' }}</mat-icon>
    </div>
    <!-- LOGO -->
      <a  routerLink="/home" title="Santorini View">
          <picture>
              <source media="(max-width: 640px)" srcset="../../../assets/images/bih-view-small.png">
              <img src="../../../assets/images/bih-view.png" alt="Santorini View">
          </picture>    
     </a>

  </div>
   <!-- Navbar Options -->
   <ul>
    <a routerLink="/tours">Tours & Cruises</a>
    <a routerLink="/accomodation">Accomodation</a>
    <a routerLink="/what-to-do">What to do</a>
    <a routerLink="/map">Map</a>
    <a routerLink="/contact">Contact</a>
   </ul>

   <!-- Navbar Icons -->

   <div class="navbar-icons">
    <div>
      <a href="#">
        <mat-icon class="icons-top">search</mat-icon>
      </a>
    </div>
    <div (click)="onCurrencyClick()" class="currency icons-top">
      {{ selectedCurrency }}
    </div>
    <div>
      <a href="#">
        <mat-icon class="icons-top">account_circle</mat-icon>
      </a>
    </div>
    
  </div>

  <!-- Dropdown menu -->

  <div class="dropdown-menu" *ngIf="showMenu">
    <a >Home</a>
    <a routerLink="/tours">Tours & Cruises</a>
    <a routerLink="/accomodation">Accomodation</a>
    <a routerLink="/what-to-do">What to do</a>
    <a routerLink="/map">Map</a>
    <a routerLink="/contact">Contact</a>
  </div>



  
  <div class="currency-dropdown" *ngIf="showDropdown">
    <ul>
      <li (click)="changeCurrency('USD')"> <img src="../../../assets/images/us-bg.svg"> USD (US$)</li>
      <li (click)="changeCurrency('BAM')"> <img src="../../../assets/images/bg-bih.png"> BiH (BAM)</li>
    </ul>
  </div>
  
  
</div>


