<div class="navbar-menu-container">
    <!-- LOGO -->
    <a  href="/" title="Santorini View">
        <picture>
            <source media="(max-width: 640px)" srcset="../../../assets/images/santorini-logo-mobile.png">
            <img src="../../../assets/images/santorini.png" alt="Santorini View">
        </picture>    
   </a>
   <!-- Navbar Options -->
   <ul>
    <a href="/">Tours and Cruises</a>
    <a href="/">Accomodation</a>
    <a href="/">What to do</a>
    <a href="/">Plan</a>
    <a href="/">Map</a>
    <a href="/">Contant</a>
   </ul>

   <!-- Navbar Icons -->

   <div class="navbar-icons">
    <div>
      <a href="#">
        <mat-icon>search</mat-icon>
      </a>
    </div>
    <div>
      US$
    </div>
    <div>
      <a href="#">
        <mat-icon>account_circle</mat-icon>
      </a>
    </div>
    
  </div>
  
</div>
