<div class="navbar-container">

  <div class="menu-wrapper">
    <!-- Hamburger menu -->
    <div class="menu">
      <mat-icon (click)="toggleBtn()" class="icon">{{ showMenu ? 'menu' : 'close' }}</mat-icon>
    </div>
    <!-- LOGO -->
      <a  href="/" title="Santorini View">
          <picture>
              <source media="(max-width: 640px)" srcset="../../../assets/images/bih-view-small.png">
              <img src="../../../assets/images/bih-view.png" alt="Santorini View">
          </picture>    
     </a>

  </div>
   <!-- Navbar Options -->
   <ul>
    <a routerLink="/tours">Tours & Cruises</a>
    <a routerLink="/accomodation">Accomodation</a>
    <a href="/">What to do</a>
    <a href="/">Plan</a>
    <a href="/">Map</a>
    <a href="/">Contact</a>
   </ul>

   <!-- Navbar Icons -->

   <div class="navbar-icons">
    <div>
      <a href="#">
        <mat-icon>search</mat-icon>
      </a>
    </div>
    <div class="currency">
      US$
    </div>
    <div>
      <a href="#">
        <mat-icon>account_circle</mat-icon>
      </a>
    </div>
    
  </div>
  
</div>
