<div class="panorama"></div>
<div class="title">
   <p>Check out this amazing places</p>
   <div>From the air, it's easy to find the best hotel location for your holidays</div>    
</div>

<div class="video">
    <video src="../../assets/videos/trebinje.mp4" controls></video>
    <div class="video-dsc">
        <p>Trebinje</p>
        Fira, the stunning capital of Santorini, is the place to be! It is the heart of 
        the island that pulses all day long and offers a variety of things to do. Every 
        visitor will most assuredly drop by Fira every day, so living in this settlement 
        constitutes a great advantage. Facing the caldera lies the captivating volcano in 
        the middle of the cobalt Aegean Sea. Choose your ideal spot and let the mesmerizing 
        view amaze you.
        <div class="btn-wrapper">
            <button (click)="openModal(1)">Watch Fullscreen</button>
        </div>
    </div>
   
    



</div>

<div class="video">
  
    <div class="video-dsc element-order1">
        <p>Buna channel</p>
        Fira, the stunning capital of Santorini, is the place to be! It is the heart of 
        the island that pulses all day long and offers a variety of things to do. Every 
        visitor will most assuredly drop by Fira every day, so living in this settlement 
        constitutes a great advantage. Facing the caldera lies the captivating volcano in 
        the middle of the cobalt Aegean Sea. Choose your ideal spot and let the mesmerizing 
        view amaze you.
        <div class="btn-wrapper">
            <button (click)="openModal(2)">Watch Fullscreen</button>
        </div>
    </div>
    <video src="../../assets/videos/buna-canal.mp4" controls class="element-order2"></video>
<!-- <app-modal *ngIf="showModal" (close)="onCloseModal()"></app-modal> -->
</div>

<div class="video">
    <video src="../../assets/videos/trebinje.mp4" controls ></video>
    <div class="video-dsc">
        <p>Trebinje</p>
        Fira, the stunning capital of Santorini, is the place to be! It is the heart of 
        the island that pulses all day long and offers a variety of things to do. Every 
        visitor will most assuredly drop by Fira every day, so living in this settlement 
        constitutes a great advantage. Facing the caldera lies the captivating volcano in 
        the middle of the cobalt Aegean Sea. Choose your ideal spot and let the mesmerizing 
        view amaze you.
        <div class="btn-wrapper">
            <button (click)="openModal(3)">Watch Fullscreen</button>
        </div>
    </div>

</div>

<app-modal *ngIf="showModal" (close)="onCloseModal()" [videoUrl]="videoUrl"></app-modal>
