// modal

.login-modal-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  
    div {
      max-width: 100%;
      max-height: 95%;
    }
  
    .login-container {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 55px;
      background-color: #1c7ece;
      color: #fcfcfc;

      span {
        line-height: 18px;
        opacity: .8;
        font-size: 19px;
        margin-bottom: 5%;
      }

      span:first-child {
        opacity: 1;
        font-size: 28px;
        margin-bottom: 2%;
      }

      p {
        line-height: 18px;
        opacity: .8;
        margin: 0;
        margin-top: 4%;
        font-size: 17px;
        
      }
      .buttons {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        gap: 15px;       

        button {
            text-decoration: none;
            background-color: #22acf4;
            color:#fcfcfc;
            border-radius: 3px;
            border: none;
            padding: 7px 30px;
            font-weight: 500;

        }

        .cancel {
            border: none;
            background-color: #1c7ece;
        }

       
      }

      input {
        margin-bottom: 5%;
        height: 5vh;
        border: none;
        border-radius: 3px;
        padding: 10px;
    }

    }
    
  }
