<div class="home-wrapper">
    <div class="home">
        <h2>Book Experiences of a Lifetime in Bosnia and Herzegovina</h2>
        <h3>Book hotels, tours, cruises, activities and more</h3>   

    </div>

    <div class="global-search">
        <div class="global-search-inner">
            <div class="global-search-input-wrapper">
                <input type="text" id="global-search-input" autocomplete="off" spellcheck="false" placeholder="I am looking for...">
            </div>

            <div class="global-search-button">
                <a href="/search/" title="search in BiH" id="global-search-button"> <mat-icon class="search-icon">search</mat-icon></a>
            </div>
        </div>
    </div>

    <div class="icons-container">

        <div class="categories">         
            <a href="/"> <i class="fa-regular fa-compass"></i>Tours</a>  
            <a href="/"><i class="fa-solid fa-bed"></i>Hotels</a>
            <a href="/"><i class="fa-solid fa-mountain"></i>Mountain hikes</a>
            <a href="/"><i class="fa-solid fa-city"></i>Private tours & Cruises</a>
        </div>

        <div class="categories">
            <a href="/"><i class="fa-solid fa-plane"></i>Airport Taxi & Bus</a>
            <a href="/"><i class="fa-solid fa-icicles"></i>Cave Tours</a>
            <a href="/"><i class="fa-solid fa-magnifying-glass-location"></i>Things to do</a>
            <a href="/"><i class="fa-solid fa-location-dot"></i>B&H trip planner</a>
        </div>

        

    </div>   
    <div class="section-wrapper">
        <div class="section-inner">
            <div class="options-menu">
               <a href="/"><i class="fa-solid fa-bed icon-lg"></i><h5>Hotels & Villas</h5></a>
               <a href="/"><i class="fa-solid fa-ship icon-lg"></i><h5>Tours & Cruises</h5></a>
               <a href="/"><i class="fa-solid fa-bus icon-lg"></i><h5>TAXI & Transfers</h5></a>
               <a href="/"><i class="fa-solid fa-utensils icon-lg"></i><h5>Restaurants</h5></a>
               <a href="/"><i class="fa-solid fa-building-columns icon-lg"></i><h5>Things to do</h5></a>
               <a href="/"><i class="fa-solid fa-water icon-lg"></i><h5>Rivers</h5></a>
            </div>

            <div class="who-we-are">
                <em class="big-title">Consider us your local friends on Santorini!</em>
                Get true information from our <a href="/guides/" class="seo-link" target="_blank" title="santorini travel guides">travel guides</a>, written by our local travel experts.
                Find out the best experiences, that match perfectly with your travel style.
                Book <a href="/best-santorini-tours/" class="seo-link" target="_blank" title="santorini tours cruises">tours &amp; cruises</a> on Santorini island, at the best prices and with unlimited support.
                Explore &amp; compare <a href="/santorini-hotels-on-caldera/" class="seo-link" target="_blank" title="santorini hotels">hotels</a> with unparalleled views on the <a href="/santorini-caldera/" class="seo-link" target="_blank" title="santorini caldera">Caldera</a>.
                <a href="/contact/" class="seo-link" target="_blank">Contact us</a> to get the best local advice for your trip to Santorini!
            </div>
        </div>

    </div>

    <app-travel-guide></app-travel-guide>

</div>


