<div class="home-wrapper">
    <div class="home">
        <h2>Book Experiences of a Lifetime in Bosnia and Herzegovina</h2>
        <h3>Book hotels, tours, cruises, activities and more</h3>   

    </div>

    <div class="global-search">
        <div class="gloabal-search-inner">
            <div class="global-search-input-wrapper">
                <input type="text" id="global-search-input" autocomplete="off" spellcheck="false" placeholder="I am looking for...">
            </div>

            <div class="global-search-button">
                <a href="/search/" title="search in BiH" id="global-search-button"> <mat-icon>search</mat-icon></a>
            </div>
        </div>
    </div>
</div>
