<div class="component">
    <div class="home-wrapper">
        <div class="home">
            <h2>Book Experiences of a Lifetime in Bosnia and Herzegovina</h2>
            <h3>Book hotels, tours, cruises, activities and more</h3>   
    
        </div>
    
        <div class="global-search">
            <div class="global-search-inner">
                <div class="global-search-input-wrapper">
                    <input type="text" id="global-search-input" autocomplete="off" spellcheck="false" placeholder="I am looking for...">
                </div>
    
                <div class="global-search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
    
        <div class="icons-container">
    
            <div class="categories">         
                <a routerLink="/tours"> <i class="fa-regular fa-compass"></i>Tours</a>  
                <a routerLink="/accomodation"><i class="fa-solid fa-bed"></i>Hotels</a>
                <a routerLink="/tours"><i class="fa-solid fa-mountain"></i>Mountain hikes</a>
                <a routerLink="/tours"><i class="fa-solid fa-city"></i>Private tours & Cruises</a>
            </div>
    
            <div class="categories">
                <a routerLink="/transfers"><i class="fa-solid fa-plane"></i>Airport Taxi & Bus</a>
                <a routerLink="/tours"><i class="fa-solid fa-icicles"></i>Cave Tours</a>
                <a routerLink="/what-to-do"><i class="fa-solid fa-magnifying-glass-location"></i>Things to do</a>
                <a routerLink="/what-to-do"><i class="fa-solid fa-location-dot"></i>B&H trip planner</a>
            </div>
    
            
    
        </div>   
        <div class="section-wrapper">
            <div class="section-inner">
                <div class="options-menu">
                   <a routerLink="/accomodation"><i class="fa-solid fa-bed icon-lg"></i><h5>Hotels & Villas</h5></a>
                   <a routerLink="/tours"><i class="fa-solid fa-ship icon-lg"></i><h5>Tours & Cruises</h5></a>
                   <a routerLink="/transfers"><i class="fa-solid fa-bus icon-lg"></i><h5>TAXI & Transfers</h5></a>
                   <a routerLink="/accomodation"><i class="fa-solid fa-location-dot icon-lg"></i><h5>Map</h5></a>
                   <a routerLink="/what-to-do"><i class="fa-solid fa-building-columns icon-lg"></i><h5>Things to do</h5></a>
                   <a routerLink="/rivers"><i class="fa-solid fa-water icon-lg"></i><h5>Rivers</h5></a>
                </div>
    
                <div class="who-we-are">
                    <em class="big-title">Consider us your local friends in B&H!</em>
                    Get authentic information about Bosnia and Herzegovina from our <a routerLink="/tours">travel guides</a>, written by our local travel experts.
                    Find out the best experiences, that match perfectly with your travel style.
                    Book <a routerLink="/tours">tours &amp; cruises</a> in B&H, at the best prices and with unlimited support.
                    Explore &amp; compare <a routerLink="/accomodation">hotels</a> with unparalleled views on the.
                    <a routerLink="/contact">Contact us</a> to get the best local advice for your trip to B&H!
                </div>
            </div>
    
        </div>
    
        <app-travel-guide></app-travel-guide>    

       
    
       
    </div>
    
    
</div>    

<app-footer></app-footer>
