.header {
    margin: 35px 0 30px;
    text-align: center;
    width: 100%;

    h5 {
        font-size: 32px;
        text-align: center;
        margin: 0;
        font-weight: 700;
        letter-spacing: -.8px;
        color: #111;
        line-height: 40px;
    }
}

.flex-container {
    position: relative;
    top:74%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2.5rem 6.25rem;
    gap: 10px;

       

    .row {
      display: flex;
      width: 100%;
      gap: 10px;
      flex-wrap: wrap;
  
      .col {
        position: relative;
        flex: 1;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        min-height: 200px;
        background-size: cover;
        background-position: center;  
        transition: box-shadow 0.2s ease-in-out;

        a {
            display: block;
            padding: 20px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
          
           

            .bottom-title {
                position: absolute;
                bottom: 0;
                right: 0;              
                text-align: right;
                padding: 10px 12px 14px 12px;
                color: #fff;   
                font-size: 1.7rem;
                padding-right: 35px;
                font-weight: 400;
                border-radius: 5px;
                
               
            }
        }

        a:hover .bottom-title {
          transform: translateY(-5px);          
        }

           
      }

      .col:hover {
        opacity: 0.9;
      }

           

      .larger-col {
        flex: 2;
      }
  
      .fill-col {
        flex: 1;
        width: 50%;
      }
    }

   

      .row:nth-child(2) {
        .col:first-child {
          background-image: url(../../../assets/images/bih.avif);
        }

        .col:nth-child(2) {
            background-image: url(../../../assets/images/hotel.avif); 
        }

        .col:nth-child(3) {
          background-image: url(../../../assets/images/airplane.avif); 
      }
      }

      .row:nth-child(4) {
        .col:last-child {
          background-image: url(../../../assets/images/road.avif); 
        }
      }

    .row:nth-child(3)  {
      .col:nth-child(1) {
        background-image: url(../../../assets/images/activities.webp);
      }

      .col:nth-child(2) {
        background-image: url(../../../assets/images/restaurant.avif);
      }

      .col:nth-child(3) {
        background-image: url(../../../assets/images/map.avif);
      }
    }

    .row:nth-child(4) .col:nth-child(1) {
      background-image: url(../../../assets/images/summer-city.jpg);
    }

      

  }

  @media (max-width: 760px) {
    .flex-container{
      margin: 0.2rem 0.5rem;;

      .row {
        .col {
          flex: 1 1 200px;
        }
      }
    }
  }
  
  
  
  
  



