
<div class="flex-container">
    <div class="header"><h5>Start planning your next trip to B&H</h5></div>
    <div class="row">
      <div class="col"><a href="/"><div class="bottom-title">First time in B&H</div></a></div>
      <div class="col larger-col"><a href="/"><div class="bottom-title">Where to stay</div></a></div>
      <div class="col"><a href="/"><div class="bottom-title">How to get there</div></a></div>
    </div>
    <div class="row">
      <div class="col larger-col"><a href="/"><div class="bottom-title">What to do</div></a></div>
      <div class="col"><a href="/"><div class="bottom-title">Where to eat</div></a></div>
      <div class="col"><a href="/"><div class="bottom-title">Interactive map</div></a></div>
    </div>
    <div class="row">
      <div class="col fill-col"><a href="/"><div class="bottom-title">Best time to visit B&H</div></a></div>
      <div class="col fill-col"><a href="/"><div class="bottom-title">Getting around</div></a></div>
    </div>
  </div>
  
