<div class="footer-container">
    <div class="footer-info">
        <div class="about-us">
            <img src="../../../assets/images/bih-footer.png" alt="Santorini View">
            <div>
                <span>About us</span>
                <div>
                    We’re Santorini’s leading marketplace to explore and book unforgettable travel experiences. Santorini View is operated by Atlantis Software E-Services, a reliable travel agency licensed by the Greek National Tourism Organization with registry number ΜΗ.Τ.Ε. 0206E70000659501.</div>
            </div>
        </div>
        <div class="contact-us">
            <span>Follow us</span>
            <div class="social-icons">
                <a target="_blank" href="/"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="/"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="/"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="/"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">© 2023  B&H View</div>
</div>
