<div class="footer-container">

    <div class="footer-item">
        <img src="../../../assets/images/digicert.png" alt="digicert">
        <div class="text">The security of your data is our highest priority. 
            We use 256-bit encryption for data transmission from DigiCert, 
            one of the world's largest SSL Certificate providers.</div>
    </div>

    <div class="footer-item">
        <img src="../../../assets/images/paypal.png" alt="paypal">
        <div class="text">We use PayPal and Stripe, both leaders in 
            online payments, to handle our payment transaction processes
             safely and securely. We accept all major credit/debit cards.</div>
    </div>

    <div class="footer-item">
        <img src="../../../assets/images/microsoft-azure.png" alt="microsoft-azure">
        <div class="text">Our servers run on Microsoft's Azure Cloud platform. Highest 
            levels of trust, transparency, standards conformance, and regulatory 
            compliance of any cloud service provider.</div>
    </div>


    <div class="footer-bottom">        
        © 2023 <img src="../../../assets/images/bih-footer.png" >
    </div>
    
</div>