<div class="contact-wrapper"> 

<div class="forms">

    <div class="contact-form">
        <h2>Got a question or need advice?</h2>
        <span>If you have any questions regarding your holiday in B&H, 
            our awesome support team will be more than glad to help you select 
            the right hotel, organize your experience / tour or provide any local 
            advice.
        </span>
        <div class="personal-info">
            <span>Name*</span>
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="personal-info">
            <span>Email*</span>
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="personal-info">
            <span>Message*</span>
            <textarea name="message" placeholder="Message" cols="30" rows="3"></textarea>
        </div>
    
        <button class="send-button">Send Message</button>
    </div>
    
    
    <div class="contact-info">
    <h4>Feel free to get in touch with us!</h4>
    <span>We try to respond as soon as possible, but 
        outside our business hours (08.00-21.00 in local time), 
        our responsiveness to your requests may be slightly reduced.
    </span>
    <a href="" class="contact-box">
        <div class="icon"><i class="fa-regular fa-envelope"></i></div>
        <div class="text">
            <span>Send us an <em>email</em></span>
            <span>support@b&h-view.com</span>
        </div>
    
        <span class="material-symbols-outlined">
            arrow_forward_ios
            </span>
    
    </a>
    <a href="" class="contact-box">
        <div class="icon"><i class="fa-brands fa-whatsapp"></i></div>
        <div class="text">
            <span>Chat with us on <em>Whatsapp</em></span>
            <span>+ 387 33 654 859</span>
        </div>
    
        <span class="material-symbols-outlined">
            arrow_forward_ios
            </span>
    
    </a>
    <a href="" class="contact-box">
        <div class="icon"><i class="fa-solid fa-phone"></i></div>
        <div class="text">
            <span>Talk to us on the <em>phone</em></span>
            <span>Call us on + 387 61 654 456</span>
        </div>
    
        <span class="material-symbols-outlined">
            arrow_forward_ios
            </span>
    
    </a>
    <a href="" class="contact-box">
        <div class="icon"><i class="fa-brands fa-facebook-messenger"></i></div>
        <div class="text">
            <span>Message us on <em>facebook</em></span>
            <span>open messanger</span>
        </div>
    
        <span class="material-symbols-outlined">
            arrow_forward_ios
            </span>
    
    </a>
</div>

</div>

 


  
   

